{
  "presets": [
    [
      "env",
      {
        "modules": false
      }
    ],
    "stage-0"
  ],
  "env": {
    "test": {
      "plugins": [
        "istanbul"
      ]
    },
    "es": {
      "plugins": [
        "external-helpers"
      ]
    },
    "umd": {
      "plugins": [
        "external-helpers",
        [
          "./modules/babel-plugin-merge-imports",
          {
            "pkg": "openlayers",
            "pkgVar": "__ol__",
            "regex": "^ol(?:/(.*))?$"
          }
        ]
      ]
    }
  }
}
